.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    height: 100vh;
    h1 {
        width: 400px;
        margin: 10px;
        color: white;
        text-align: center;
    }
}
