.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 700px;
    background-color: white;
    border: 1px solid rosybrown;
    border-radius: 5px;
    .form {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        background-color: white;

        .input {
            display: flex;
            justify-content: space-between;
            input {
                width: 85%;
                height: 20px;
            }
            button {
                color: #fafafa;
                background-color: green;
                border: 1px solid green;
                border-radius: 5px;
            }
        }
    }
    ul {
    }
}
