.modal {
    display: none; /* 전체 페이지 깔리기 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);

    .modal .show-modal {
        display: block;
    }
    .modal-container {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 정중앙 위치 */
        top: 50%;
        left: 50%;
        max-width: 100%;
        width: 400px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        transform: translate(-50%, -50%); /*//////////////*/

        animation-name: modalopen;
        animation-duration: 1s;
    }
    @keyframes modalopen {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
